<ng-container *transloco="let t">
  <div class="container">
    <div class="row vh-100">
      <div
        class="col-12 col-xl-6 p-5 d-flex align-items-center d-none d-xl-flex"
      >
        @defer () {
        <img
          src="assets/images/SignUp.gif"
          class="img-fluid"
          alt="Register Image"
        />
        }
      </div>

      <div class="col-12 col-xl-6 p-5 d-flex align-items-center">
        <div class="shadow rounded p-5 w-100">
          <h3 class="text-primary text-center mb-5 fs-1 fw-bold">
            {{ t("header.register") }}
          </h3>

          <form (ngSubmit)="HandleRegister()" [formGroup]="registerForm">
            @if (errorMessage!='') {
            <div class="alert alert-danger" role="alert">
              <h4 class="alert-heading">{{ t("validation.api") }}</h4>
              <p>{{ errorMessage }}</p>
            </div>
            }

            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Name"
                formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
              />
              <label for="name">{{ t("form.name") }}</label>
              @if (submitted && f['name'].errors) {
              <div class="text-danger">
                @if (f['name'].errors['required']) {
                <small>{{ t("validation.requiredName") }}</small>
                } @if (f['name'].errors['minlength']) {
                <small>{{ t("validation.minLingth") }}</small>
                } @if (f['name'].errors['maxlength']) {
                <small>{{ t("validation.maxLingth") }}</small>
                }
              </div>
              }
            </div>

            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="userName"
                name="email"
                placeholder="User Name"
                formControlName="userName"
                [ngClass]="{ 'is-invalid': submitted && f['userName'].errors }"
              />
              <label for="userName">{{ t("form.userName") }}</label>

              @if (submitted && f['userName'].errors) {
              <div class="text-danger">
                @if (f['userName'].errors['required']) {
                <small>{{ t("validation.requiredUserName") }}</small>
                } @if (f['userName'].errors['email']) {
                <small>{{ t("validation.userNameType") }}</small>
                }
              </div>
              }
            </div>

            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="Password"
                name="password"
                placeholder="Password"
                formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
              />
              <label for="Password">{{ t("form.password") }}</label>
              @if (submitted && f['password'].errors) {
              <div class="text-danger">
                @if (f['password'].errors['required']) {
                <small>{{ t("validation.requiredPassword") }}</small>
                }
              </div>
              }
            </div>

            <div class="form-floating">
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                [ngClass]="{
                  'is-invalid': submitted && f['confirmPassword'].errors
                }"
              />
              <label for="Password">{{ t("form.confirmPassword") }}</label>
              @if (submitted && f['confirmPassword'].errors) {
              <div class="text-danger">
                @if (f['confirmPassword'].errors['required']) {
                <small>{{ t("validation.requiredConfirmPassword") }}</small>
                } @if (f['confirmPassword'].errors['matching']) {
                <small>{{ t("validation.matchConfirmPassword") }}</small>
                }
              </div>
              }
            </div>

            <button type="submit" class="btn btn-primary my-3 w-100 py-3 fs-5">
              {{ t("header.register") }}
            </button>

            <div class="text-center">
              <a
                [routerLink]="['/login']"
                routerLinkActive="router-link-active"
                >{{ t("goToLogin") }}</a
              >
              <span class="mx-3">|</span>
              <a
                [routerLink]="['/home']"
                routerLinkActive="router-link-active"
                >{{ t("notFound.goToHome") }}</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-container>
